* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Roboto Flex", sans-serif;
}

:root {
    --corFundo: #F5F7FA;
    --corPrimaria: #007BFF;
    --corSecundaria: #00C4B4;
    --corTexto: #333333;
    --corPrimariaHover: #0056b3;
    --corSecundariaHover: #009d8f;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--corFundo);
}

/*Página de login*/
.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    color: var(--corTexto);
}


.bloco_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 60%;
    background-image: url(575098805408.jpg);
    background-size: cover;
    background-position: center;
}

.caixa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#logo_Login {
    position: absolute;
    top: 20px;
    left: 20px;
}

.bloco_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 40%;
    background-color:var(--corFundo);
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.formulario label {
    margin-top: 10px;
}

.formulario input {
    padding: 10px;
    margin-top: 5px;
    background-color: transparent;
    border-bottom: 1px solid var(--corTexto);
    color: var(--corTexto);
}

#botaoLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 150px;
    margin-top: 40px;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--corPrimaria);
    cursor: pointer;
    color: aliceblue;
}

#botaoLogin:hover {
    background-color:var(--corPrimariaHover);
}

#botaoLogin .material-symbols-outlined {
    transition: margin-left 0.3s ease-in-out;
}

#botaoLogin:hover .material-symbols-outlined {
    margin-left: 10px;
}

#home {
    display: none;
}

/*Página 1*/
nav {
    background-color: var(--corPrimaria);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;

    height: 60px;
    width: 80%;

    position: fixed;
}

.alinha {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}

.paginas {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#homeButton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    cursor: pointer;
    color: var(--corFundo);
}

#homeButton:hover {
    background-color: var(--corPrimariaHover);
}

#solucoesButton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    cursor: pointer;
    color: var(--corFundo);
}

#solucoesButton:hover {
    background-color:var(--corPrimariaHover);
}

#sobrenosButton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    cursor: pointer;
    color: var(--corFundo);
}

#sobrenosButton:hover {
    background-color: var(--corPrimariaHover);
}

#logoPage {
    margin-left: 5px;
    flex-grow: 1;
    margin-top: 5px;
}

#navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid var(--corFundo);
    text-decoration: none;
    border-radius: 50px;
    margin-left: 20px;
    width: 130px;
    height: 20px;
    color: var(--corFundo);
}

#navLink:hover {
    background-color: var(--corPrimariaHover);
}

main {

    
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 500px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 20px;
}

#titulo {
    font-size: 96px;

    margin-bottom: 30px;
}

#sutitulo {
    font-size: 30px;
}

#botaoAcessar {
    margin-top: 30px;

    height: 50px;
    width: 300px;
    border-radius: 20px;
    font-size: 15px;

    cursor: pointer;
}

#botaoAcessar:hover {
    background-color: rgb(221, 221, 221);
}

article {
    background-color: darkkhaki;
    display: flex;
    flex-direction: row;

    margin-left: 30px;
    margin-right: 30px;

    padding: 20px;
    gap: 50px;
}

.section1 {
    background-color: khaki;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-left: 30px;
    margin-right: 30px;

    padding-left: 200px;
    padding-right: 200px;
    height: 350px;

}

.section2 {
    background-color: crimson;

    margin-left: 30px;
    margin-right: 30px;

    padding: 20px;
    height: 350px;
}

footer {
    background-color: coral;

    margin-left: 30px;
    margin-right: 30px;

    padding: 20px;
    height: 150px;
}

/*Sobre nós*/
.sobreNos {
    display: none;
}